{% extends "base.html" %}

{% block mainContent %}
        <style>
          .quick .toggle-group { transition: left 0.1s;      -webkit-transition: left 0.1s; }
        </style>

        <!-- Info boxes -->
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-lightbulb"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Light Value</span>
                <span id="light_value" class="info-box-number">
                  0
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thermometer"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Temperature</span>
                <span id="temp-info" class="info-box-number"><span id="temperature">0</span><span>°C</span></span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->

          <!-- fix for small devices only -->
          <div class="clearfix hidden-md-up"></div>

          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-success elevation-1"><i class="fas fa-tint"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Humidity</span>
                <span id="humid-info" class="info-box-number"><span id="humidity">0</span><span>%</span></span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-adjust"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">LED Toggle</span>
                <input id="toggle-event" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-size="xs" data-style="quick" >
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
          <!-- Left col -->
          <section class="col-lg-12 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-chart-pie mr-1"></i>
                  Light Graph
                </h3>
                <button id="renderLightBtn" class="float-right btn btn-info">
                  Update
                </button>
              </div><!-- /.card-header -->
              <div class="card-body">
                <!-- Morris chart - Sales -->
                <div class="chart" style="position: relative; height: 300px;">
                  <canvas id="light-chart" height="300" style="height: 300px;"></canvas>                         
                </div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- Custom tabs (Charts with tabs)-->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-chart-pie mr-1"></i>
                  Temperature Graph
                </h3>
                <button id="renderTempBtn" class="float-right btn btn-info">
                  Update
                </button>
              </div><!-- /.card-header -->
              <div class="card-body">
                <!-- Morris chart - Sales -->
                <div class="chart" style="position: relative; height: 300px;">
                  <canvas id="temperature-chart" height="300" style="height: 300px;"></canvas>                         
                </div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- Custom tabs (Charts with tabs)-->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-chart-pie mr-1"></i>
                  Humidity Graph
                </h3>
                <button id="renderHumidityBtn" class="float-right btn btn-info">
                  Update
                </button>
              </div><!-- /.card-header -->
              <div class="card-body">
                <!-- Morris chart - Sales -->
                <div class="chart" style="position: relative; height: 300px;">
                  <canvas id="humidity-chart" height="300" style="height: 300px;"></canvas>                         
                </div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </section>
          <!-- /.Left col -->
        </div>
        <!-- /.row (main row) -->
{% endblock %}
{% block script%}
  <!-- PAGE PLUGINS -->
  <!-- DataTables -->
  <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <!-- jQuery Mapael -->
  <script src="plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
  <script src="plugins/raphael/raphael.min.js"></script>
  <script src="plugins/jquery-mapael/jquery.mapael.min.js"></script>
  <script src="plugins/jquery-mapael/maps/usa_states.min.js"></script>
  <!-- ChartJS -->
  <script src="plugins/chart.js/Chart.min.js"></script>

  <!-- PAGE SCRIPTS -->
  <script src="dist/js/pages/dashboard2.js"></script>

  <script>
    $(function () {
      getLEDStatus();
      updateLightChart();
      updateTemperatureChart();
      updateHumidityChart();
      
      setInterval(function(){
        getRealTimeData();
        getLEDStatus();
        //updateLightChart();  // real time update for light chart 
      }, 2000);
    });

    function getLEDStatus(){
      $.ajax({
        url: '/api/v1/led/status',
        type: 'GET',
        success: function(result) {
          if(result == 'on'){
            $('#toggle-event').bootstrapToggle('on', true);
          }else if(result == 'off'){
            $('#toggle-event').bootstrapToggle('off', true);
          }
        }
      });
    }

    function getRealTimeData(){
      $.ajax({
        url: '/api/v1/realtimedata',
        type: 'GET',
        success: function(result) {
          if (result.light == "-1") {
            $('#light_value').html("Disconnected");
          }else{
            $('#light_value').html(result.light);
          }

          if (result.humidity == "-1") {
            $('#temp-info').html("Disconnected");
            $('#humid-info').html("Disconnected");
          }else{
            $('#humidity').html(result.humidity);
            $('#temperature').html(result.temperature);
          }
        }
      });
    }

//////////////////////////////////////////////////////// LIGHT CHART //////////////////////////////////////////////////////////////////////
    var lightChartOptions = {
      maintainAspectRatio : false,
      responsive : true,
      datasetFill : false,
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
          gridLines : {
            display : false,
          }
        }],
        yAxes: [{
          gridLines : {
            display : false,
          }
        }]
      }
    }

    function renderLightChart(data, labels) {
        var ctx = document.getElementById("light-chart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'This week',
                    data: data,
                    fill: false
                }]
            },
            options: lightChartOptions
        });
    }

    function updateLightChart() {
      var data = []
      var labels = []

      $.ajax({
        url: '/api/v1/lightValueForChart',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result.replace(/'/g, '"'));
          data = result.data;
          labels = result.labels;

          // convert to more readable time
          for(var i = 0; i < labels.length; i++) {
            jsdatetime = new Date(Date.parse(labels[i]));
            labels[i] = jsdatetime.toLocaleTimeString();
          }

          renderLightChart(data, labels);
        }
      }); 
    }

    
    $("#renderLightBtn").click(
      updateLightChart
    );
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



///////////////////////////////////////////////////////////////// TEMP CHART //////////////////////////////////////////////////////////
    var temperatureChartOptions = {
      maintainAspectRatio : false,
      responsive : true,
      datasetFill : false,
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
          gridLines : {
            display : false,
          }
        }],
        yAxes: [{
          gridLines : {
            display : false,
          }
        }]
      }
    }
    function renderTemperatureChart(data, labels) {
      var ctx = document.getElementById("temperature-chart").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: labels,
              datasets: [{
                  label: 'This week',
                  data: data,
                  fill: false
              }]
          },
          options: temperatureChartOptions
      });
  }

    function updateTemperatureChart() {
      var data = []
      var labels = []

      $.ajax({
        url: '/api/v1/tempValueForChart',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result.replace(/'/g, '"'));
          data = result.data;
          labels = result.labels;

          // convert to more readable time
          for(var i = 0; i < labels.length; i++) {
            jsdatetime = new Date(Date.parse(labels[i]));
            labels[i] = jsdatetime.toLocaleTimeString();
          }

          renderTemperatureChart(data, labels);
        }
      }); 
    }

    $("#renderLightBtn").click(
      updateTemperatureChart
    );
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



///////////////////////////////////////////////////////////// Humidity Chart //////////////////////////////////////////////////////////////////
    var humidityChartOptions = {
      maintainAspectRatio : false,
      responsive : true,
      datasetFill : false,
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
          gridLines : {
            display : false,
          }
        }],
        yAxes: [{
          gridLines : {
            display : false,
          }
        }]
      }
    }

    function renderHumidityChart(data, labels) {
      var ctx = document.getElementById("humidity-chart").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: labels,
              datasets: [{
                  label: 'This week',
                  data: data,
                  fill: false
              }]
          },
          options: humidityChartOptions
      });
    }

    function updateHumidityChart() {
      var data = []
      var labels = []

      $.ajax({
        url: '/api/v1/humidityValueForChart',
        type: 'GET',
        success: function(result) {
          result = JSON.parse(result.replace(/'/g, '"'));
          data = result.data;
          labels = result.labels;

          // convert to more readable time
          for(var i = 0; i < labels.length; i++) {
            jsdatetime = new Date(Date.parse(labels[i]));
            labels[i] = jsdatetime.toLocaleTimeString();
          }

          renderHumidityChart(data, labels);
        }
      }); 
    }

    $("#renderLightBtn").click(
      updateHumidityChart
    );
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    $(function() {
      $('#toggle-event').change(function() {
        $.ajax({
          url: '/api/v1/led/toggle',
          type: 'GET',
          success: function(result) {
            console.log("done")
          }
        });
      })
    })

    $("#renderBtn").click();
    getRealTimeData();
  </script>
{% endblock %}