{% extends "base.html" %}

{% block mainContent %}
<style>
  .quick .toggle-group {
    transition: left 0.1s;
    -webkit-transition: left 0.1s;
  }
</style>

<div class="row">
  <!-- Left col -->
  <section class="col-lg-12 connectedSortable">
    <!-- TO DO List -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-database"></i>
          Lights Database
        </h3>
        <button id="updateLightBtn" class="float-right btn btn-info">
          Update
        </button>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="light-table" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Datetime</th>
              <th>Light Intensity</th>
              <th>Device ID</th>
              <th>Device Name</th>
            </tr>
          </thead>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-database"></i>
          Temperature & Humidity Database
        </h3>
        <button id="updateDHT11Btn" class="float-right btn btn-info">
          Update
        </button>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="dht11-table" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Datetime</th>
              <th>Temperature</th>
              <th>Humidity</th>
              <th>Device ID</th>
              <th>Device Name</th>
            </tr>
          </thead>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

   
    <!-- /.card -->

  </section>
  <!-- /.Left col -->
</div>
<!-- /.row (main row) -->
{% endblock %}
{% block script%}
<!-- PAGE PLUGINS -->
<!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<!-- jQuery Mapael -->
<script src="plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
<script src="plugins/raphael/raphael.min.js"></script>
<script src="plugins/jquery-mapael/jquery.mapael.min.js"></script>
<script src="plugins/jquery-mapael/maps/usa_states.min.js"></script>
<!-- ChartJS -->
<script src="plugins/chart.js/Chart.min.js"></script>

<!-- PAGE SCRIPTS -->
<script src="dist/js/pages/dashboard2.js"></script>

<script>
  var lightTable;


  $(function () {
    setInterval(function () {
      //updateDatatable();
      //lightTable.ajax.reload( null, false );
    }, 2000);
  });

  var datetime;

  var CustomRenders = {
    dateTime: function (data, type, row, meta) {
      jsdatetime = new Date(Date.parse(data));
      return jsdatetime.toLocaleString();
    }
  };


  //////////////////////////////////////////////////////////////////////////// Light Table //////////////////////////////////////////////////////////////////////////////////////   
  $(function () {
    lightTable = $('#light-table').DataTable({
      "ordering": true,
      "responsive": true,
      "autoWidth": false,
      "ajax": "/api/v1/lightValueForDatatable",
      "columns": [
        { "data": "date_time", "render": CustomRenders.dateTime },
        { "data": "light_value" },
        {"data": "device_id"},
        {"data": "device_name"}
      ],
      "order": [[0, "desc"]]
    });
  });

  $("#updateLightBtn").click(
    function () {
      //updateDatatable();
      lightTable.ajax.reload(null, false);
    }
  );
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  ////////////////////////////////////////////////////////////////////////////////// Temperature table ///////////////////////////////////////////////////////////////////////////////////////////

  var dht11Table;
  $(function () {
    dht11Table = $('#dht11-table').DataTable({
      "ordering": true,
      "responsive": true,
      "autoWidth": false,
      "ajax": "/api/v1/dht11ValueForDatatable",
      "columns": [
        // { "data": "date_time", "render": CustomRenders.dateTime },
        { "data": "date_time"},
        { "data": "temperature" },
        {"data": "humidity"},
        {"data": "device_id"},
        {"data": "device_name"}
      ],
      "order": [[0, "desc"]]
    });
  });

  $("#updateDHT11Btn").click(
    function () {
      //updateDatatable();
      dht11Table.ajax.reload(null, false);
    }
  );

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////////// Humidity table ///////////////////////////////////////////////////////////////////////////////////////////

  /*
    var HumidityTable;
    $(function () {
         HumidityTable = $('humidity-table').DataTable({
        "ordering": true,
        "responsive": true,
        "autoWidth": false,
        "ajax": "",
        "columns": [
          { "data": "id"},
          { "data": "datetime_value", "render": CustomRenders.dateTime},
          { "data": "light_value"}
        ],
        "columnDefs": [
            {
                "targets": [ 0 ],
                "visible": false,
                "searchable": false
            }
        ],
        "order": [[ 0, "desc" ]]
      });
    });
  
    $("#updateHumidityBtn").click(
    function () {
      //updateDatatable();
      HumidityTable.ajax.reload( null, false );
    }
    );
  
    */
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 

</script>
{% endblock %}