{% extends 'base.html' %}

{% block body %}

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Users</h3>
                    <div class="table-responsive">
                        <!-- <table id="usersTable" class="table table-striped table-bordered col"> -->
                        <!-- <table id="usersTable" class="table table-striped col"> -->
                        <table id="usersTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone Number</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form class="form-horizontal">
                    <div class="card-body">
                        <h4 class="card-title">Add User</h4>
                        <div class="form-group row">
                            <label for="fname" class="col-sm-3 text-right control-label col-form-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="name" placeholder="Name Here">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Phone
                                Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="phone" placeholder="Contact No Here">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="email" placeholder="Email Here">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lname" class="col-sm-3 text-right control-label col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="password" placeholder="Password Here">
                            </div>
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="button" class="btn btn-success" onclick="addUser()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="../static/assets/extra-libs/DataTables/datatables.min.js"></script>
    <script src="../static/assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="../static/assets/extra-libs/multicheck/jquery.multicheck.js"></script>


    <script>

        var CustomRenders = {
            delete: function (data, type, row, meta) {
                return '<button type="button" onclick="deleteUser(this.id)" class="btn btn-danger" id="' + row.email + '">Delete</button>'
            }
        };
        var usersTable;
        function generateUsersTable() {
            window.usersTable = $('#usersTable').DataTable({
                'responsive': true,
                "autoWidth": false,
                "ajax": "/api/v1/users",
                'columns': [
                    { "data": "name" },
                    { "data": "phone" },
                    { "data": "email" },
                    { "data": "password" },
                    { "render": CustomRenders.delete }
                    // {
                    //     data: null,
                    //     className: "center",
                    //     // defaultContent: '<a href="" style="color:red">Edit</a> / <a href="" style="color:red">Delete</a>'

                    //     defaultContent: '<button type="button" onclick="deleteUser()" class="btn btn-danger">Delete</button>'
                    // }
                ]
            });
        };

        function callUsersDataAPI() {
            var returnData = [];
            console.log("Calling temp api func");
            $.ajax({
                url: "/api/v1/users",
                async: false,
                success: function (results) {
                    console.log(results);
                    returnData = results
                },
                type: 'GET'
            });
            return returnData
        };
        // var data = callUsersDataAPI();
        generateUsersTable()

        function deleteUser(email) {
            // API Call
            $.ajax({
                url: "/api/v1/users/" + email,
                async: false,
                success: function (results) {
                    console.log(results);
                },
                type: 'DELETE'
            });
            window.usersTable.ajax.reload(null, false);

        };

        function addUser() {
            var name = document.getElementById("name").value;
            var phone = document.getElementById("phone").value;
            var email = document.getElementById("email").value;
            var password_plaintext = document.getElementById("password").value;
            var data = {
                "name": name,
                "phone": phone,
                "email": email,
                "password": password_plaintext
            };

            console.log(data)

            var dataJson = JSON.stringify(data);

            var myHeader = {
                "Content-Type": "application/json"
            };

            $.ajax({
                url: "/api/v1/users",
                type: "POST",
                //contentType : 'text/json',
                headers: myHeader,
                data: dataJson,
                success: function (result) {
                    console.log(result)
                },
                error: function (error) {
                    alert(`Error ${error}`);
                }
            });
            window.usersTable.ajax.reload(null, false);
            document.getElementById("name").value = "";
            document.getElementById("phone").value = "";
            document.getElementById("email").value = "";
            document.getElementById("password").value = "";

        };

        setInterval(function () {
            window.usersTable.ajax.reload(null, false);
        }, 10000);

    </script>

    {% endblock %}